*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: orange;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    margin-top: 100px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eee;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,.6);
}

.logo{
    margin: 20px;
}
.task-input,.add-button{
    padding: 10px;
}

.tasks{
    width: 100%;
    margin-top: 10px;
    list-style-position: inside;
    padding: 0 15px;
}
.task{
    width:100%;
    font-size: 20px;
    align-items: center;
    border-top: 1px solid gray;
    padding: 10px;
}

.task__remove-button{
    margin-left: 5px;
    padding: 5px;
    background: red;
    color: white;
    border: none;
    transition: background-color 200ms ease-in-out;
}

.task__remove-button:hover{
    background: rebeccapurple;
}
.task__wrapper{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width:calc(100% - 25px);
}
.task__name{
    overflow: hidden;
}

.task.doned .task__name{
    text-decoration: line-through;
    color: gray;
}
.task:hover{
    cursor: pointer;
}